 <html>

<head>
<title>Spartify</title>
</head>

<body>
<div id="page_header" class="nav navbar-nav navbar-right">
      <div id="contact-form">
      	<form action="/login" method="post">

      	 	<label for="text">Username: </label> 
              <input type="text" id="username" value="" name="username" required="required" placeholder="username"/>
            

              <label for="text">Put your artist here: </label> 
              <input type="text" id="artist" value="" name="artist" required="required" placeholder="Artist name">
 
              <label for="text">Put the name of your playlist: </label> 
              <input type="text" id="playlist_name" value="" name="playlist_name" required="required" placeholder="Playlist name"/>
             <input type="submit" value="Submit" id="submit-button"/>
            </form>
      </div>
      </div>
</body>
</html>