 <html>

<head>
<title>Spartify</title>
<link href="{{ url_for('static', filename='dist/css/bootstrap.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
</head>

<body>

<nav id="wholebar" class= "nav navbar navbar-default navbar-fixed-top navbar-absolute">
      <div class="container">

        <a href="spartifymultiple.html" class="navbar-header"><img id="logo" class="img-responsive" src="{{ url_for('static', filename='spartifylogo.png') }}"/></a>
        <h1 id="logo_name">Spartify</h1>
      </div>
    </nav>

<div class="jumbotron">

         <div id="pitch" class="col-xs-12">
              <h1>Make democratic party playlists on spotify.</h1>
              <p>Add up to 10 artists and Spartify will create you a mixed playlist consisting of each artist's top 5 songs on Spotify.</p>
        </div>

 </div>

<div class="container" id="content">
  <div class="row">
    <div class="col-xs-2"></div>
      <div id="contact-form" class="col-xs-8">
      	<form action="/login" method="post">
          <table>
      	 	<tr><td><label for="text">Username: </label></td>
              <td><input type="text" id="username" value="" name="username" required="required" placeholder="username"/></td>
              <td><a id="addbtn" class="btn btn-small btn-primary" href="#">Add more artists</a></td>
            </tr>
            
             <tr>
                <td><label for="text">Name of your playlist: </label></td>
                <td><input type="text" id="playlist_name" value="" name="playlist_name" required="required" placeholder="Playlist name"/></td>
              </tr>

              <tr>
                <td><label for="text">Put your first artist here: </label></td>
                <td><input type="text" id="artist1" value="" name="artist1" required="required" placeholder="Artist name"></td>
              </tr>

              <tr>
                <td><label for="text">Put your second artist here: </label></td>
                <td><input type="text" id="artist2" value="" name="artist2" required="required" placeholder="Artist name"></td>
              </tr>

              <tr>
                <td><label for="text">Put your third artist here: </label></td>
                <td><input type="text" id="artist3" value="" name="artist3" required="required" placeholder="Artist name"></td>
              </tr>

              <tr class="extras">
                <td><label for="text">Put your fourth artist here: </label></td>
                <td><input type="text" id="artist4" value="" name="artist4" placeholder="Artist name"></td>
              </tr>

              <!--<tr class="extras">
                <td><label for="text">Put your fifth artist here: </label></td>
                <td><input type="text" id="artist5" value="" name="artist5" placeholder="Artist name"></td>
              </tr>

              <tr class="extras">
                <td><label for="text">Put your sixth artist here: </label></td>
                <td><input type="text" id="artist6" value="" name="artist6" placeholder="Artist name"></td>
              </tr>

              <tr class="extras">
                <td><label for="text">Put your seventh artist here: </label></td>
                <td><input type="text" id="artist7" value="" name="artist7" placeholder="Artist name"></td>
              </tr>

              <tr class="extras">
              <td><label for="text">Put your eighth artist here: </label></td>
              <td><input type="text" id="artist8" value="" name="artist8" placeholder="Artist name"></td>
              </tr>

              <tr class="extras">
                <td><label for="text">Put your ninth artist here: </label></td>
                <td><input type="text" id="artist9" value="" name="artist9" placeholder="Artist name"></td>
              </tr>

              <tr class="extras">
                <td><label for="text">Put your tenth artist here: </label></td>
                <td><input type="text" id="artist10" value="" name="artist10" placeholder="Artist name"></td>
              </tr> -->

             <tr><td><input type="submit" value="Submit" id="submit-button"/></td></tr>
           </table>
            </form>
      </div>
      <div class="col-xs-2"></div>
      </div>
      </div>

<script>
 $(".extras").hide();
 $("#addbtn").on("click", function() {
  $(".extras").toggle("fast");
 });
</script>

</body>
</html>