 <html>

<head>
<title>Spartify</title>
</head>

<body>
<div id="page_header" class="nav navbar-nav navbar-right">
      <div id="contact-form">
      	<form action="/login" method="post">

      	 	<label for="text">Username: </label> 
              <input type="text" id="username" value="" name="username" required="required" placeholder="username"/>
            

              <label for="text">Put your first artist here: </label> 
              <input type="text" id="artist1" value="" name="artist1" required="required" placeholder="Artist name">

              <label for="text">Put your second artist here: </label> 
              <input type="text" id="artist2" value="" name="artist2" required="required" placeholder="Artist name">

              <label for="text">Put your second artist here: </label> 
              <input type="text" id="artist3" value="" name="artist3" required="required" placeholder="Artist name">

              <label for="text">Put your second artist here: </label> 
              <input type="text" id="artist4" value="" name="artist4" required="required" placeholder="Artist name">

              <label for="text">Put your second artist here: </label> 
              <input type="text" id="artist5" value="" name="artist5" required="required" placeholder="Artist name">

              <label for="text">Put your second artist here: </label> 
              <input type="text" id="artist6" value="" name="artist6" required="required" placeholder="Artist name">

              <label for="text">Put your second artist here: </label> 
              <input type="text" id="artist7" value="" name="artist7" required="required" placeholder="Artist name">

              <label for="text">Put your second artist here: </label> 
              <input type="text" id="artist8" value="" name="artist8" required="required" placeholder="Artist name">

              <label for="text">Put your second artist here: </label> 
              <input type="text" id="artist9" value="" name="artist9" required="required" placeholder="Artist name">

              <label for="text">Put your second artist here: </label> 
              <input type="text" id="artist10" value="" name="artist10" required="required" placeholder="Artist name">
 
              <label for="text">Put the name of your playlist: </label> 
              <input type="text" id="playlist_name" value="" name="playlist_name" required="required" placeholder="Playlist name"/>
             <input type="submit" value="Submit" id="submit-button"/>
            </form>
      </div>
      </div>
</body>
</html>